header {
  display: flex;
  flex: 1;
  padding: 24px 80px;
  justify-content: space-between;
  align-items: center;

  background: rgba(29, 29, 29, 0.2);
  backdrop-filter: blur(20.5px);
  -webkit-backdrop-filter: blur(20.5px);
}

header > div {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  gap: 56px;
  list-style: none;
}

header > nav a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
